<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About- My Blog</title>
    <link rel="stylesheet" href="style/about.css">
</head>
<body>
    <h1>About this Blog</h1>
    <p>This Blog is for spreading knowledge and insights in the community <br> 
    so that people who are keen to share their ideas, innovations, experiences <br>
    and wide knowledge can pour their minds here and those who are enthusiastic <br>
    to lear something new everyday can open their minds here.</p>

  <div class="home">  <a href="/"> Home </a></div>
</body>
</html>